# Godot
.godot/
*.import
*.translation
export.cfg
export_presets.cfg

# OS generated
.DS_Store
Thumbs.db
recordings/

# Junk / test files
example/
#animated_human_skeleton_2d.*
#human_skeleton_2d.tscn
LICENSE
LICENSE.txt